{% extends 'kaizen/base.html' %}

{% block content %}
    <h2>{{ page_title }}</h2>
    {% if pk_list %}
    <ul>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>提起日</th>
                        <th>課題 problem</th>
                        <th>提起者</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pk in pk_list %}
                        <tr>
                            <th>{{ pk.start_date }}</th>                            
                            <th>{{ pk.title }}</th>
                            <th>{{ pk.presenter.name }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </ul>
    {% else %}
    <p>管理しているProblemはありません</p>
    {% endif %}
{% endblock content %}